@using Blog.WebApp
@using Blog.Entities
@using Blog.WebApp.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blog Sitem">
    <meta name="author" content="Berkin Akkaya">
    <title>My Blog Site</title>

    <!-- Favicon -->
    @*<link href="img/favicon.ico" rel="icon">*@

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/assets/lib/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="~/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/lib/easing/easing.min.js"></script>
    <script src="~/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="~/assets/lib/counterup/counterup.min.js"></script>
    <script src="~/Scripts/navBar.js"></script>
    <!-- Contact Javascript File -->
    @*<script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>*@

    <!-- Template Javascript -->
    <script src="~/assets/js/main.js"></script>

    @*<link href="~/assets/css/style.css" rel="stylesheet" />*@
</head>
<body>
    <!-- Navigation -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        @Bootstrap.LinkMenuNew("/Home/Index", "nav-item nav-link active", "Anasayfa")
                        @Bootstrap.LinkMenuNew("/Home/MostLiked", "nav-item nav-link", " En Beğenilenler")
                        @Bootstrap.LinkMenuNew("/Home/Index", "nav-item nav-link", " Son Yazılar")
                        @Bootstrap.LinkMenuNew("/Home/About", "nav-item nav-link", " Hakkımızda")

                        @if (CurrentSession.User != null)
                        {
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Yönetim</a>
                            <div class="dropdown-menu">
                                @Bootstrap.LinkMenuNew("/Note/Create", "dropdown-item", " Yazı Ekle")
                                @Bootstrap.LinkMenuNew("/Note/Index", "dropdown-item", " Yazılarım")
                                <hr />
                                @Bootstrap.LinkMenuNew("/Note/MyLikedNotes", "dropdown-item", "Beğendiklerim")
                                
                                @if (CurrentSession.User.IsAdmin)
                                {<hr />
                            @Bootstrap.LinkMenuNew("/Category/Create", "dropdown-item", " Kategori Ekle")
                            @Bootstrap.LinkMenuNew("/Category/Index", "dropdown-item", " Kategoriler")
                            <hr />
                            @Bootstrap.LinkMenuNew("/BlogUser/Create", "dropdown-item", " Kullanıcı Ekle")
                            @Bootstrap.LinkMenuNew("/BlogUser/Index", "dropdown-item", " Kullanıcılar")
                                }


                            </div>
                        </div>
                        }

                        @*<a href="contact.html" class="nav-item nav-link">Contact</a>*@
                    </div>
                    <div class="ml-auto row">
                        <div class="" style="margin-top:5px">
                            <div class="form-outline">
                                <input type="search" id="searchBox" class="form-control" placeholder="Yazı Arayın"/>
                            </div>
                        </div>
                      @if (CurrentSession.User == null)
                      {
                          @Bootstrap.LinkMenuNew("/Home/Login", "btn btn-custom", " Giriş Yap ")
                          @Bootstrap.LinkMenuNew("/Home/Register", "btn btn-custom", " Üye Ol") }
                      else
                      {

                          <div class="dropdown dib " style="margin:10px 15px" >
                              <a href="/Home/ShowProfile" class="dropdown-toggle "style="color:azure" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                  @CurrentSession.User.Username  <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li>
                                      @Bootstrap.LinkMenuNew("/Home/ShowProfile", "nav-link", " Profilim")
                                  </li>
                                  <li role="separator" class="divider"></li>
                                  <li>
                                      @Bootstrap.LinkMenuNew("/Home/EditProfile", "nav-link", "Düzenle")
                                  </li>
                                  @*<li>
                                      <a href="/Home/DeleteProfile" class="nav-link" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz?');">
                                          <span class=""></span> Profili Sil
                                      </a>
                                  </li>*@
                              </ul>
                          </div>

                          @Bootstrap.LinkMenuNew("/Home/Logout", "btn btn-custom", " Çıkış")
                      }
                    
                            @*<a class="btn btn-custom" href="#">Get Appointment</a>*@
                        </div>
                </div>
            </nav>
        </div>
    </div>

    @RenderBody()

    @RenderSection("footer", required: false)

</body>
</html>
